@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-feature: #ff6d6d;
    --color-feature-orange: rgb(255, 140, 79);
    --color-grey-dark: rgb(75, 75, 75);
    --color-grey-light: rgb(175, 175, 175);
    --color-grey-vanish: rgba(172, 172, 172, 0);
    --color-grey-small-text: rgb(139, 139, 139);
    --color-break-line: rgb(197, 196, 196);
    --color-grey-tile-overlay: rgb(216, 216, 216);
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.container {
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
}

section,
header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.7;
}

.heading {
    padding-top: 23%;
    padding-bottom: 60px;
    font-size: 40px;
    color: var(--color-feature);
}

.sub-heading {
    font-size: 18px;
    padding-bottom: 30px;
    color: var(--color-grey-dark);
}

.brief {
    font-size: 18px;
    padding-bottom: 20px;
    color: var(--color-grey-dark);
}

.highlights {
    font-size: 18px;
    padding-bottom: 40px;
    color: var(--color-grey-dark);
}

.sub-heading-mobile {
    font-size: 18px;
    padding-bottom: 20px;
    color: var(--color-grey-dark);
}

.paragraphs {
    font-size: 18px;
    padding-bottom: 15px;
    color: var(--color-grey-dark);
}

.small-text {
    font-size: 16px;
    color: var(--color-grey-small-text);
}

.end-space {
    margin-bottom: 50px;
}

.end-space-small {
    margin-bottom: 30px;
}

.line {
    border: dotted 0.5px var(--color-break-line);
    margin-bottom: 50px;
}

/* button ------------------------------*/

.button {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 50px;
    border: none;
    color: white;
    background-image: linear-gradient(
        20deg,
        rgb(236, 22, 86) 0%,
        rgb(255, 140, 79) 100%
    );
    cursor: pointer;
    transition: all 0.5s ease;
    background-size: 200%;
}

.button:hover {
    background-position: right center;
}


.tile-btn {
    outline: none;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 18px;
    width: 220px;
    border-radius: 3px;
    border: solid 1px var(--color-feature);
    color: var(--color-feature);
    background: white;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease;
}

.tile-btn::after {
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    background: rgb(255, 105, 105);
    background: linear-gradient(
        20deg,
        rgb(255, 140, 79) 0%,
        rgb(255, 140, 79) 30%,
        rgb(255, 105, 105) 100%
    );
    border-radius: 1px;
    transition: all 0.3s ease;
    width: 0;
    left: 0;
}

.tile-btn:hover::after {
    width: 100%;
}

.btn-modal {
    margin-right: 10px;
}

.btn-contain {
    margin-bottom: 80px;
    margin-top: 20px;
}

/* --------------------------- header */

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(255, 190, 206, 0.2);
}

/* .home-poster-mobile {
    display: none;
} */

.nav-bar {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    padding-top: 12px;
    height: 60px;
    z-index: 5;
    transition: all 0.5s ease;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    display: flex;
}

.logo {
    margin: 0 24px;
    background: url('./assets/NicLogo1.png');
    background-size: contain;
    width: 35px;
    height: 35px;
    float: left;
    transition: all 0.3s ease;
}

.logo:hover {
    transform: rotate(10deg);
}

.nav-item {
    text-decoration: none;
    color: var(--color-feature);
    padding: 20px 0;
    margin: 0 24px;
    letter-spacing: 0.5px;
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    background: var(--color-feature);
    bottom: 10px;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 25%;
    transition: all 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

nav {
    float: right;
}

.header-title {
    font-size: 55px;
    margin-bottom: 20px;
    line-height: 60px;
}

.header-text {
    font-size: 22px;
    padding-top: 20px;
    line-height: 35px;
}

.container-header {
    width: 90%;
}

.header-info {
    margin-top: 30vh;
    padding: 15px;
    max-width: 570px;
    color: white;
    background-color: rgba(75, 75, 75, 0.8);
}

#hero-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/* responsive 100vh video for different screen ratios ------- */

@media (min-aspect-ratio: 16/9) {
    #hero-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #hero-video {
        width: auto;
        height: 100%;
    }
}

/* ------------------------- developer */

.mobile-project-info {
    display: none;
}

#developer {
    min-height: 100vh;
    border-bottom: dotted 0.5px var(--color-break-line);
}

.word-link {
    text-decoration: none;
    color: var(--color-feature);
    cursor: pointer;
    transition: all 0.2s ease;
}

.word-link:hover {
    color: var(--color-feature-orange);
}

.project-tiles, .client-tiles {
    width: 100%;
}

.coming-soon {
    width: 100%;
    margin-bottom: 70px;
}

.tile-container {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 3px;
    overflow: hidden;
}

.project-tile-info {
    width: 100%;
    margin-bottom: 60px;
}

.sentence {
    font-size: 18px;
    color: var(--color-grey-dark);
}


.paragraph-full-size {
    display: block;
    font-size: 18px;
    color: var(--color-grey-dark);
    padding-top: 20px;
}

.flex-contain-clients {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
}

.flex-item-client {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 280px;
    height: 250px;
    overflow: hidden;
}

.client-image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.client-image:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.client-image:hover {
    cursor: pointer;
}


.coming-soon-image {
    background-image: url('assets/chalk-board.jpg');
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 18px;
}

.tile-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 300px;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}


.tile-overlay {
    z-index: 5;
    position: absolute;
    background: var(--color-grey-tile-overlay);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation-name: animateTileOff;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: animateTileOff;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;

    -ms-animation-name: animateTileOff;
    -ms-animation-duration: 0.5s;
    -ms-animation-fill-mode: forwards;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile-overlay:hover {
    animation-name: animateTileOn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: animateTileOn;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;

    -ms-animation-name: animateTileOn;
    -ms-animation-duration: 0.5s;
    -ms-animation-fill-mode: forwards;
}

.tile-overlay:hover ~ .tile-image {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}


@keyframes animateTileOff {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes animateTileOff {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-ms-keyframes animateTileOff {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes animateTileOn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes animateTileOn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes animateTileOn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tile-heading {
    color: var(--color-feature);
    padding-bottom: 3%;
    font-size: 21px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.project-language {
    color: var(--color-grey-dark);
}

.project-caption {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: var(--color-feature);
    text-transform: uppercase;
}

.no-pointer {
    cursor: default;
}

/* .contain-all {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
} */

#modal-backing {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    background-color: var(--color-grey-light);
    cursor: pointer;
}

.modal {
    cursor: default;
    display: none;
    position: fixed;
    z-index: 35;
    left: 15%;
    top: 5%;
    width: 70%;
    /* max-width: 1200px; */
    height: 90%;
    /* enables scroll */
    overflow: auto;
    animation-name: animateModalOn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    -webkit-animation-name: animateModalOn;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;

    -ms-animation-name: animateModalOn;
    -ms-animation-duration: 0.4s;
    -ms-animation-fill-mode: forwards;
}

.modal-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15px;
}

@keyframes animateModalOn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animateModalOff {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes animateModalOn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes animateModalOff {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-ms-keyframes animateModalOn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes animateModalOff {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modal-content {
    background-color: white;
    width: 100%;
    min-height: 100%;
    z-index: 35;
}

.modal-info {
    padding: 80px;
    line-height: 1.8;
    z-index: 35;
}

.modal-heading {
    padding-bottom: 30px;
    font-size: 40px;
    color: var(--color-feature);
}

.close {
    color: var(--color-grey-dark);
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin: 15px;
    padding: 0 10px;
    cursor: pointer;
}

.close::after {
    content: '\00D7';
    cursor: pointer;
}

/* ------------------------- designer */

#designer {
    border-bottom: dotted 0.5px var(--color-break-line);
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    border: 0;
}

.sub-heading-design {
    margin-top: 35px;
}

/* ------------------------- contact */

.centered-inset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-photo {
    width: 220px;
    height: 220px;
    margin: 20px 0;
    background: url('./assets/myphoto.png');
    background-size: cover;
}

.social-media {
    margin: 25px 0;
}

.social {
    color: var(--color-grey-light);
    display: inline-block;
    margin: 8px;
    text-decoration: none;
    font-size: 40px;
    transition: all 0.2s ease;
}

.social:hover {
    color: var(--color-feature);
}

.email-btn {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 18px;
    margin: 12px 0;
    width: 220px;
    border: solid 1px var(--color-feature);
    color: var(--color-feature);
    background: white;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease;
}

.email-btn::after {
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    background: rgb(255, 105, 105);
    background: linear-gradient(
        20deg,
        rgb(255, 140, 79) 0%,
        rgb(255, 140, 79) 30%,
        rgb(255, 105, 105) 100%
    );
    border-radius: 1px;
    transition: all 0.3s ease;
    width: 0;
    left: 0;
}

.email-btn:hover::after {
    width: 100%;
}

#hidden-content {
    max-width: 250px;
    width: 100%;
    height: 30px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 90px;
    color: var(--color-grey-light);
}

.copy {
    max-width: 250px;
    width: 100%;
    height: 30px;
    font-size: 18px;
    text-align: center;
}

.fade-copy {
    color: var(--color-grey-vanish);
    animation-name: fadeInOut;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeInOut;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    -ms-animation-name: fadeInOut;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: forwards;
}

@keyframes fadeInOut {
    0% {
        color: var(--color-grey-light);
    }

    80% {
        color: var(--color-grey-light);
    }

    100% {
        color: var(--color-grey-vanish);
    }
}

@-webkit-keyframes fadeInOut {
    0% {
        color: var(--color-grey-light);
    }

    80% {
        color: var(--color-grey-light);
    }

    100% {
        color: var(--color-grey-vanish);
    }
}

@-ms-keyframes fadeInOut {
    0% {
        color: var(--color-grey-light);
    }

    80% {
        color: var(--color-grey-light);
    }

    100% {
        color: var(--color-grey-vanish);
    }
}

/* ----------------------------footer */

footer {
    background-color: var(--color-grey-dark);
}

.footer-info {
    color: var(--color-grey-light);
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 12px 0;
}

/* MOBILE & Tablet ----------------------------------*/

/* no modals at this width for personal projects only */
@media screen and (max-width: 1024px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .tile-container {
        height: 200px;
    }

    .coming-soon-image {
        padding-top: 95px;
    }
    

    .modal {
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }

    .modal-info {
        padding: 30px;
    }

}


/* mobile burger menu  ----------------------------------*/

#nav-mobile {
    display: none;
}

/* for the burger nav */
#mobile-empty {
    display: none;
}

@media screen and (max-width: 850px) {

    .button {
        display: block;
        margin-bottom: 15px;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    .nav-menu,
    .nav-bar,
    .logo {
        display: none;
    }

    .flex-item-client {
        width: 210px;
        height: 180px;
    }

    /* .home-poster-mobile {
        display: block;
        position: absolute;
        z-index: -10;
        width: 100%;
        height: 100%;
        background: url('poster.png');
        background-size: cover;
        background-position: center;
    } */

    #nav-mobile {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    /* checkbox styling */
    .label-style {
        width: 46px;
        height: 46px;
        right: 15px;
        top: 10px;
        cursor: pointer;
        position: fixed;
        z-index: 2;
    }

    .burger-box {
        width: 100%;
        height: 100%;
        display: block;
        padding-top: 21px;
        padding-left: 3px;
        position: absolute;
        transition: all 0.2s ease;
    }

    #burger-check {
        display: none;
    }

    /* nav bar lines */
    .bar {
        width: 40px;
        height: 4px;
        border-radius: 20%;
        background: var(--color-feature);
        position: relative;
    }

    .bar:before,
    .bar:after {
        content: '';
        top: -12px;
        width: 40px;
        height: 4px;
        border-radius: 20%;
        background: inherit;
        /*inherit value from parent*/
        position: absolute;
        transition: all 0.2s ease;
    }

    .bar:after {
        top: 12px;
    }

    /* turn bars into a cross */
    input:checked ~ .label-style > .burger-box > .bar:before,
    input:checked ~ .label-style > .burger-box > .bar:after {
        top: 0;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    /* spin the cross */
    input:checked ~ .label-style > .burger-box {
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }

    /* drop down menu */
    .nav-mobile-menu {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        transform: translate(0, -120%);
        transition: transform 0.3s ease;
    }

    input:checked ~ .nav-mobile-menu {
        transform: translate(0, 0);
    }

    /* tap on screen closes nav menu */
    #mobile-empty {
        position: absolute;
        width: 100%;
        height: 100vh;
    }

    input:checked ~ #mobile-empty {
        display: block;
    }

    input:not(:checked) ~ #mobile-empty {
        display: none;
    }

    .nav-mobile-item {
        display: block;
        text-decoration: none;
        background: var(--color-break-line);
        color: white;
        border-bottom: solid 1px rgb(212, 212, 212);
        font-size: 20px;
        padding: 25px 35px;
        letter-spacing: 0.5px;
    }
}

/*  ----------------------------------*/
